module.exports = {
    // telegram bot token, get one from @BotFather
    token: '1234567890:YOURTOKENHERE',

    // imagemagick convert path, defaults to 'convert'
    im_convert_path: 'convert',

    // max images allowed in one pack
    maximages: 50,
    // file storage path
    file_storage: './storage',

    // use language
    default_lang: 'en',
    available_lang: {
        'en': ['English', 'English'],
        'de': ['German', 'Deutsch'],
        'zh-hans': ['简体中文', '中国'],
        'zh-hant': ['正體中文', '中國']
    }
};

